<div class="task_row">
  <div class="task_text">
    <input type="checkbox" name="" id="" (input)="onChange()" [checked]="task.done">
    <input [class]="task.done?'is-done note-input':'note-input'  " value="{{textEdited}}" [(ngModel)]="textEdited">
  </div>
  <div class="task_row_button">

    <button class="button_task edit" (click)="onEdit()">
      <i class="fa-solid fa-pen"></i>
    </button>
    <button class="button_task delete" (click)="onDelete()">
      <i class="fa-solid fa-trash-can"></i>
    </button>

  </div>
</div>
